<div class="wrapper">
	<div class="breadcrumb container">
		<ul>

			<li>
				<%= link_to Duhanci, root_path  %>
			</li>

			<li>
				Women
			</li>

		</ul>
	</div>
	<div class="content container">

		<div class="sidebar">
			<div class="sidebar-content">
		
				<div style="display: block;" class="clear-all-filters top">
					<h3 class="avalon-xl">Фильтр:</h3>
				</div>
				<div id="refinements" class="refinements-list">
					<div class="refinements checkboxes brand-refinement">
								
						
						<h4>Бренд:</h4>
						<div class="checkbox-list custom-scroll">
							<%i=1 %>
						<% for brand in @brands %>
						<label class="checkbox">
								<input id="Brand<%= i %>" class="refinement" name="Formulation83" value="103000" analyticstype="Formulation" analyticsval="Hair Mist" type="checkbox">
								<span><%= brand %></span> </label>
								<% i+=1 %>
						<% end %>
						</div>


					</div>
					
					


					<div class="refinements slider-bar">
						<a href="#" class="clear-link hide">clear filter</a>
						<h4>price range</h4>

						<div class="slider-output">
							<input class="slider-amount" readonly="readonly" type="text">
						</div>
						<div id="price range" class="slider-range refinement ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
							<div style="left: 0%; width: 100%;" class="ui-slider-range ui-widget-header"></div><a style="left: 0%;" class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a><a style="left: 100%;" class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a>
						</div>
						<div class="orig-range clearfix">
							<div class="price-min">
								<span>$5</span>
							</div>
							<div class="price-max">
								<span>$255</span>
							</div>
						</div>
					</div>
				</div>
				<div style="display: block;" class="clear-all-filters">
					<input value="clear all filters" class="btn" type="submit">
				</div>
				<div class="social-links">
					<div class="like-button">
						<fb:like layout="button_count" show_faces="false" font="arial"></fb:like>
					</div>
					<div id="fb-root"></div>
					<div id="pinterest-root" class="pinterest hidden">
						<a data-pin-config="beside" href="#" data-pin-do="buttonPin"><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png"></a>
					</div>
				</div>
			</div>
		</div>

		<div id="main" class="maincontent">
			<div id="banner">
				<div id="pager"></div>
				<div class="inner">
					<div id="carousel">
						<%= image_tag "/rat.jpg", :size => "700x310"%>
						<%= image_tag "/walle.jpg", :size => "700x310"%>
						<%= image_tag "/up.jpg", :size => "700x310" %>
						<%= image_tag "/toystory.jpg", :size => "700x310" %>
						<%= image_tag "/bugs.jpg", :size => "700x310" %>
					</div>
				</div>
			</div>
			<div style="display: none;" class="search-banner container">
				<div class="search-header">
					<h1></h1>
				</div>
			</div>
			<div style="display: none;" class="brand-box flush no-links container"></div><div class="authored-content"></div>

			<div class="search-results">

				<div class="your-choices">
					<div class="your-choices-content container" style="">
						<h3 class="hidden">your filters:</h3>
						<ul class="container hidden"></ul>
						<p class="clear-link hidden">
							<a href="#">clear filter</a>
						</p>
					</div>
				</div>

				<div class="total-items">
					<br>
				</div>
				<div class="apple_pagination">
					<%= will_paginate @products %>
					<span>Найдено <%= @all_products.size %> товаров</span>
				</div>

				<div class="product-grid container" style="display: block;">
					<% @products.each do |product| %>
					<%= link_to(product) do%>

					<div class="product-item">
						<%= link_to (image_tag product.assets[0].asset(:thumb), :height => "135"), product, :class => "product-image" %>
						<span class="product-info"> <span class="name OneLinkNoTx"> <span class="brand OneLinkNoTx"><%= product.brands %></span> <span><%= product.name %></span> </span> <span class="product-price "> <span class="list-price"><%= product.price %> грн.</span> </span> <span class="flags"><%= product.product_type %> </span></span>
					</div>
					<% end %>
					<% end %>

					<div class="pagination bottom container">

						<div class="apple_pagination">
							<%= will_paginate @products %>
						</div>
					</div>

				</div>

			</div>

		</div>
	</div>

	<img id="loader-precached" src="/images/loader_black_155_V2.gif" alt="" class="hidden" height="155" width="155">

</div>
